* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  --background: #F3F2F2;
  --dark-green: #326234;
  --dark-blue: #16324F;
  --light-green: #7FB285;
  --blue: #3E92CC;
  --light-blue: #7ECCD1;
}

/* =====NAVBAR====== */






