/* =====UNIVERSAL===== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  --background: #F3F2F2;
  --dark-green: #326234;
  --dark-blue: #16324F;
  --light-green: #7FB285;
  --blue: #3E92CC;
  --light-blue: #7ECCD1;
}

.App {
  background-color: var(--background);
}

html {
  background-color: var(--background);
}

@font-face {
  font-family: "CaviarDreams";
  src: url("../public/CaviarDreams.ttf");
}

@font-face {
  font-family: "CaviarDreams-Bold";
  src: url("../public/CaviarDreams_Bold.ttf");
}

@font-face {
  font-family: "TheBoldFont";
  src: url("../public/TheBoldFont.ttf");
}

/* =====NAVBAR====== */
.nav {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  margin: 0px 100px;
  padding: 35px 0px;
  display: none;
}

.desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 0px 100px;
  padding: 45px 0px;
}

.nav-links-desktop {
  display: flex;
  align-items: center;
  list-style-type: none;
  column-gap: 10px;
}

.nav-links-desktop a:hover {
  transform: scale(1.1);
  color: var(--dark-blue)
}

.nav-links-desktop a {
  text-decoration: none;
  color: black;
  transition: all .2s ease-in-out;
}

#greeting-desk {
  color: var(--dark-green);
}

#info {
  padding-right: 50px;
}

#log {
  background-color: var(--dark-green);
  color: white;
  text-align: center;
  padding: 10px 15px;
  transition: all .2s ease-in-out;
}

#log:hover {
  transform: scale(1.1);
  background-color: var(--dark-blue)
}

.page-desk-links {
  padding-right: 13px;
  font-family: CaviarDreams;
  font-size: 22px;
}

.nav-headline {
  font-family: TheBoldFont;
  font-size: 36px;
}

.menuNav {
  overflow-y: scroll;
  list-style: none;
  position: absolute;
  top: 13%;
  background: linear-gradient(0deg, rgba(29,73,38,1) 0%, rgba(9,101,12,1) 23%, rgba(10,59,22,1) 100%);
  left: 54%;
  bottom: 0;
  height: 80%;
  width: 0;
  overflow: hidden;
  max-width: 350px;
  z-index: 9;
  box-shadow: 5px 5px 5px black;
}

#nav-links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 50px;
}

.mobile-links {
  font-family: CaviarDreams;
  color: white;
  font-size: 30px;
  padding: 30px 15px 10px 15px;
  transition: all .2s ease-in-out;
}

.mobile-links {
  transform: scale(1.1);
}

.page-links {
  text-decoration: none;
}

#greeting {
  font-family: CaviarDreams-Bold;
  color: white;
  padding-right: 15px;
}

#greeting:hover {
  transform: none;
}

.log {
  background-color: white;
  color: black;
  padding: 10px 15px 10px 15px;
  margin-right: 15px;
  font-family: CaviarDreams-Bold;
}

.hamburger {
  width: 75px;
}

.menuNav.showMenu {
  width: 100%;
}


/* ======Footer===== */

.footer {
  display: flex;
}
.mountains {
  height: auto;
  width: 100%;
}

/* =====Hero Component===== */

.hero {
  height: 500px;
  margin-left: 100px;
  margin-right: 100px;
  overflow: hidden;
  position: relative;
}

.background-video {
  position: relative;
  z-index: 0;
  filter:brightness(80%);
}

.video-overlay {
  position: absolute;
  top: 30%;
  left: 45%;
  z-index: 1;
}

.hero-headline {
  font-family: TheBoldFont;
  font-size: 60px;
  color: white;
  padding-bottom: 5px;
}

.hero-subhead {
  font-family: TheBoldFont;
  font-size: 28px;
  color: white;
  padding-bottom: 20px;
  padding-right: 20px;
}

.hero-copy {
  font-family: CaviarDreams;
  color: white;
  font-size: 20px;
  padding-right: 50px;
}

/* =====About Component===== */
.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 50px;
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 50px;
}

.about-image {
  grid-area: 1 / 1 / 2 / 2;
  justify-self: center;
}

.about-text {
  grid-area: 1 / 2 / 2 / 3;
}

.about-headline {
  font-family: TheBoldFont;
  font-size: 44px;
  padding-bottom: 25px;
  padding-left: 25px;
}

.about-text {
  font-family: CaviarDreams;
  font-size: 20px;
  padding-left: 25px;
}

.trees-icon {
  max-width: 400px;
  height: auto;
}

#brand-btn {
  margin-top: 30px;
  margin-left: 25px;
}


/* =====IMAGE TEXT COMPONENT===== */
.ImageText {
  padding:  100px 50px;
  margin: 50px 100px;
  text-align: center;
  color: white;
  font-family: TheBoldFont;
  background-image: url("https://res.cloudinary.com/dhbumhhh1/image/upload/v1643654044/my-sustainable-brand/greg-becker-sYzFIusQp3Q-unsplash_hrzfqo.jpg");
  background-position: 50% 53%;
}

.image-text-headline {
  font-size: 44px;
  padding-bottom: 5px;
}

.image-text-subhead {
  font-size: 28px;
  padding-bottom: 35px;
}

.image-text-button {
  border: none;
  padding: 15px 25px;
  background-color: var(--dark-blue);
  color: white;
  font-family: TheBoldFont;
  font-size: 18px;
  transition: all .2s ease-in-out;
}

.image-text-button:hover {
  background-color: #3788D2;
  color: white;
  transform: scale(1.1);
}

/* =====Info Hero Component===== */

.info-hero {
  background-color: var(--dark-green); 
  color: white;
  display: flex; 
  align-items: center;
  column-gap: 80px;
  padding: 90px 50px;
  margin: 0px 100px;
}

.info-headline {
  font-family: TheBoldFont;
  font-size: 60px;
}

.info-text {
  font-family: CaviarDreams;
  font-size: 22px;
  padding-left: 80px;
}

/* =====Info Stats Component===== */
.info-stats {
  display: flex;
  justify-content: center;
  margin: 110px 100px;
  text-align: center;
  column-gap: 150px;
}

.stat-one-number {
  font-family: TheBoldFont;
  font-size: 60px;
  color: var(--light-blue)
}

.stat-two-number {
  font-family: TheBoldFont;
  font-size: 60px;
  color: var(--light-green)
}

.stat-three-number {
  font-family: TheBoldFont;
  font-size: 60px;
  color: var(--dark-blue)
}

.stat-text {
  font-family: CaviarDreams;
  font-size: 24px;
}

/* =====TIPS COMPONENT===== */
.tips {
  text-align: center;
  margin: 0px 100px;
}

.tips-headline {
  font-family: TheBoldFont;
  font-size: 44px;
  padding-bottom: 10px;
  padding-top: 40px;
}

.tips-text {
  font-family: CaviarDreams;
  font-size: 22px;
  padding: 0px 100px 50px 100px;
}

.tips-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 75px;
}

.tip {
  height: 300px;
  width: 300px;
  background-color: var(--dark-blue);
  color: white;
  padding: 50px 20px 20px 20px;
}

.tip-headline {
  font-family: TheBoldFont;
  font-size: 32px;
  padding-bottom: 20px;
}

.tip-text {
  font-family: CaviarDreams;
  font-size: 20px;
}

#two {
  background-color: var(--light-green)
}

#three {
  background-color: var(--blue)
}

#four {
  background-color: var(--dark-green);
}

#five {
  background-color: var(--light-blue)
}


/* =====BRANDS PAGE===== */
.brands {
  text-align: center;
}

/* ======FORM PAGE===== */
fieldset {
  border: 2px solid black;
  background-image: url("https://res.cloudinary.com/dhbumhhh1/image/upload/v1643726699/my-sustainable-brand/marita-kavelashvili-ugnrXk1129g-unsplash_dnmswc.jpg");
  background-position: center center;
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
  margin: 40px 100px 80px 100px;
  border-radius: 10px;
}

label {
  font-family: TheBoldFont;
  font-size: 25px;
  padding-bottom: 20px;
}

select {
  padding: 10px;
  font-family: CaviarDreams;
  font-size: 18px;
  margin-bottom: 35px;
}

input {
  font-family: CaviarDreams;
  padding: 10px;
  margin-bottom: 35px;
  font-size: 18px;
}

.form {
  text-align: center;
}

.login {
  font-family: TheBoldFont;
  font-size: 60px;
  padding-bottom: 20px;
  text-align: center;
  padding: 250px 270px;
  color: var(--blue)
}

.form-btn {
  border: none;
  width: 55%;
  font-family: TheBoldFont;
  font-size: 22px;
  background-color: #408D43;
  padding: 15px 20px;
  transition: all .2s ease-in-out;
}

.form-btn:hover {
  background-color: var(--light-green);
  transform: scale(1.1);
}


/* ======BRANDS PAGE===== */
.brand-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 100px;
  column-gap: 100px;
  row-gap: 100px;
  padding-bottom: 40px;
}

.brand-card {
  height: 400px;
  width: 400px;
}

.brand-image {
  max-width: 400px;
  height: auto;
  box-shadow: 8px 8px 5px var(--dark-blue);
  margin-bottom: 25px;
  transition: all .2s ease-in-out;
}

.brand-image:hover {
  background-color: var(--light-green);
  transform: scale(1.1);
}

.brand-headline {
  font-family: TheBoldFont;
  font-size: 28px;
  padding-bottom: 5px;
}

.brand-subhead {
  font-family: TheBoldFont;
  font-size: 20px;
  padding-bottom: 15px;
}

.brand-details {
  font-family: CaviarDreams;
  font-size: 18px;
}

#search-label {
  margin: 20px 100px 80px 100px;
  width: 40%;
}

/* =====MOBILE STYLING===== */

@media only screen and (max-width: 1024px) {

  /* NAVIGATION  */
  .nav {
    display: flex;
  }

  .desktop {
    display: none;
  }

  /* HOMEPAGE */
  .hero {
    height: 500px;
    margin-left: 100px;
    margin-right: 100px;
    overflow: hidden;
    position: relative;
    background-image: url("https://res.cloudinary.com/dhbumhhh1/image/upload/v1643642855/my-sustainable-brand/Screen_Shot_2022-01-31_at_10.27.12_AM_so0fmi.png");
    background-position: 25% 50%;
  }
  
  .background-video {
    display: none;
  }
  
  .video-overlay {
    position: absolute;
    top: 20%;
    left: 8%;
    z-index: 1;
    text-align: center;
  }

  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 60px;
    text-align: center;
  }

  .about-headline {
    padding-left: 0px;
  }

  .about-text {
    padding-left: 0px;
  }

  #brand-btn {
    margin-left: 0px;
  }

  /* INFO PAGE */
  .info-hero {
    display: flex; 
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .info-text {
    padding-left: 0px;
  }

  .info-stats {
    flex-wrap: wrap;
    margin: 60px 100px;
    text-align: center;
    row-gap: 60px;
  }

  .stat-text {
    font-family: CaviarDreams;
    font-size: 24px;
    padding: 10px 200px;
  }

}

@media only screen and (max-width: 800px) {
  .menuNav {
    top: 13%;
    left: 49%;
  }

  .nav {
    margin: 0px 40px;
  }
}

@media only screen and (max-width: 700px) {
  .menuNav {
    top: 13%;
    left: 36%;
  }

  .nav {
    margin: 0px 40px;
  }

 /* HOMEPAGE */

 .hero {
    margin-left: 20px;
    margin-right: 20px;
  }

 .ImageText {
    padding:  100px 25px;
    margin: 50px 20px;
  }

  .about {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 50px;
    text-align: center;
  }

  /* BRANDS */
  .brand-container {
    margin: 20px 20px;
  }

  /* INFO PAGE */

  .info-stats {
    margin: 40px 30px;
  }

  .info-hero {
    margin: 0px 20px;
  }

  .tips {
    text-align: center;
    margin: 0px 20px;
  }

  .info-headline {
    font-size: 40px;
  }

  /* FORM PAGE */
  fieldset {
    padding: 30px 50px;
    margin: 40px 40px 80px 40px;
  }
  

}

@media only screen and (max-width: 600px) {
  .menuNav {
    top: 13%;
    left: 30%;
  }

  .nav {
    margin: 0px 40px;
  }
}

@media only screen and (max-width: 500px) {
  .menuNav {
    top: 16%;
    left: 20%;
    max-width: 300px;
  }

  .nav {
    margin: 0px 40px;
  }

  /* FORM PAGE */
  fieldset {
    padding: 30px 20px;
    margin: 40px 10px 80px 10px;
  }

  .form-btn {
    font-size: 18px;
  }

  /* Brands page */
  .brand-container {
    margin: 20px 20px;
    row-gap: 40px;
  }
  
  .brand-card {
    height: 400px;
    width: 400px;
  }
  
  .brand-image {
    max-width: 300px;
  }

  #search-label {
    margin: 20px 30px 80px 30px;
    width: 70%;
  }

  .tips-text {
    padding: 0px 30px 50px 30px;
  }

  /* HOMEPAGE */
  .video-overlay {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    top: 20%;
    left: 0%;
    z-index: 1;
    text-align: center;
  }

  .hero-headline {
    font-size: 40px;
  }
  
  .hero-subhead {
    padding-right: 0px;
    font-size: 28px;
  }

  .hero-copy {
    padding: 0px 10px 0px 10px;
  }

  .trees-icon {
    max-width: 300px;
  }
  
}
















